@font-face {
    font-family: 全新硬笔楷书简;
    src: url('/fonts/全新硬笔楷书简.ttf'); /* IE9+ */
}
.tie, .tie img, .tie span {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    vertical-align: central;
    font-family: "全新硬笔楷书简", "楷体","楷体_gb2312";
    font-size: 48px;
    border-style: none;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    float: left;
}

    .tie img {
        position: absolute;
        z-index: 1;
    }

    .tie span {
        position: absolute;
        z-index: 2;
    }

@media print {
    body {
        -webkit-print-color-adjust: exact;
        background-color: rebeccapurple;
    }

    .no-print {
        display: none;
    }
}
