<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}-zhumingwu.cn</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8" />
    <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.github.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>zhumingwu</h1>
        <h2>come from china</h2>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/blog.html'>Blog</a></li>
          <li><a href='/about.html'>About</a></li>
          <li><a href='/talks.html'>Talks</a></li>
          <li><a href='/open-source.html'>Code</a></li>
          <li><a href='http://github.com/schacon' target='_blank' rel='me'>GitHub</a></li>
            </ul>
        </div>
        <div id='content'>
            {{ content }}
            <div class='clearfix'></div>
        </div>
    </div>
    <div id='footer'>
        Copyright &copy; 2017 zhumingwu.cn
    </div>
</body>
</html>
