<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }} - 朱明武</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8" />
    <script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.github.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id='wrapper'>
        <div id='header'>
            <h1>朱明武</h1>
            <h2>优美的构架师</h2>
        </div>
        <div id='menu'>
            <ul>
                <li><a href='/'>主页</a></li>
                <li><a href='/blog.html'>博客</a></li>
                <li><a href='/about.html'>关于</a></li>
                <li><a href='/talks.html'>联系</a></li>
                <li><a href='http://weibo.com/goutian' target='_blank' rel='me'>微信</a></li>
            </ul>
        </div>
        <div id='content'>
            {{ content }}
            <div class='clearfix'></div>
        </div>
    </div>
    <div id='footer'>
        Copyright &copy; 2017 zhumingwu.cn
    </div>
</body>
</html>
