<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% if page.title %} 朱明武的{{ page.title }} {% endif %}</title>
    <meta name="description" content="百易会员俱乐部,我们想创建一个用比较有意义的方式来改变整个互联网的营销平台">
    <link href="/css/wechat.css" rel="stylesheet" />
</head>
<body id="activity-detail" class="en_US mm_appmsg rich_media_empty_extra not_in_mm">
    <img src="/images/logo.png" width="0" height="0" />
    <div id="js_article" class="rich_media">
        <div id="js_top_ad_area" class="top_banner" style="display: none;"></div>
        <div class="rich_media_inner">
            <div id="page-content" class="rich_media_area_primary">
                <div id="img-content">
                    <h2 class="rich_media_title" id="activity-name">
                        {{ page.title }}
                    </h2>
                    <div id="meta_content" class="rich_media_meta_list">
                        <em id="post-date" class="rich_media_meta rich_media_meta_text">{{ page.date | date: "%Y-%m-%d" }} </em>
                        <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="https://mp.weixin.qq.com/s/WWsmS9zuEA5Y2LxRa-JRvg" id="post-user">百易会员俱乐部</a>
                    </div>
                    <div class="rich_media_content " id="js_content">
                        <p>
                            {% if page.hidepic %}
                            {% else %}
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALIAAAAJDRjOTg0ZjcwLWI4MzgtNDcxOC1iOTRmLTBkZTczYmY2MTEwMA.jpg" data-type="jpeg"
                                 style="width: 100% !important; height: auto !important; visibility: visible !important;" data-ratio="0.6388888888888888" data-w="360" width="100%">

                            {% endif %}
                        </p>
                        {{ content }}
                    </div>

                </div>

                <div class="rich_media_tool" id="js_toobar3">
                    <div id="js_read_area3" class="media_tool_meta tips_global meta_primary" style="display:none;">Pageview <span id="readNum3"></span></div>
                    <span style="display:none;" class="media_tool_meta meta_primary tips_global meta_praise" id="like3">
                        <i class="icon_praise_gray"></i><span class="praise_num" id="likeNum3"></span>
                    </span>
                    <a id="js_report_article3" style="display:none;" class="media_tool_meta tips_global meta_extra" href="https://mp.weixin.qq.com/s/yaBIkuFs9t_M9O7tASRinw##">投诉</a>
                </div>
            </div>

            <div id="js_pc_qr_code" class="qr_code_pc_outer" style="display: block;">
                <div class="qr_code_pc_inner">
                    <div class="qr_code_pc">
                        <img id="js_pc_qr_code_img" class="qr_code_pc_img" src="/images/qrcode.png">
                        <p>微信扫一扫<br>关注该公众号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>